<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <i class="fas fa-cloud" style="margin-left: 10px;"></i> 
      Xarus Weather
  </a>
</nav>
<div class="vh-100 d-flex justify-content-center align-items-center bg-dark text-white">
  <div class="container-fluid py-5 h-100">
      <div class="row justify-content-center align-items-center">
          <div class="col-md-8 col-lg-6 col-xl-4">
              <div class="card text-center border border-dark mb-3">
                  <div class="card-body p-4">
                      <h3 class="mb-4 pb-2 fw-normal">Weather Forecast</h3>
                      <form [formGroup]="cityForm" (ngSubmit)="onSubmit()" class="form">
                          <div class="form-group">
                              <label for="cityName" class="text-white">City Name</label>
                              <input type="text" id="cityName" formControlName="cityName" class="form-control">
                          </div>
                          <br>
                          <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                      <div *ngIf="weatherData">
                          <div class="card border-0 rounded">
                              <div class="card-body p-4">
                                  <h4 class="mb-1 sfw-normal">{{weatherData.location.city}}</h4>
                                  <p class="mb-2">Current temperature: <strong>{{ weatherData.current.temp_c }}°C</strong></p>
                                  <p>Feels like: <strong>{{weatherData.current.feelslike_c}}°C</strong></p>
                                  <div class="d-flex flex-row justify-content-center align-items-center">
                                      <img src="{{ weatherData.current.condition.icon }}" alt="Weather Icon">
                                      <p><strong>{{weatherData.current.condition.text}}</strong></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row justify-content-center align-items-center" id="weather-forecast">
          <h4 class="fw-normal text-white">15 Days Forecast</h4>
      </div>
      <div class="row justify-content-center align-items-center">
          <div class="d-flex flex-nowrap overflow-auto">
              <div *ngFor="let weather of weatherData.forecast.forecastday; let i = index" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                  <div class="card border border-dark mb-3">
                      <div class="card-body p-4">
                          <h5 class="mb-2">{{ weather.date }}</h5>
                          <p class="mb-2">Avg Temp: <strong>{{ weather.day.avgtemp_c }}°C</strong></p>
                          <p>Max Temp: <strong>{{weather.day.maxtemp_c}}°C</strong></p>
                          <p>Min Temp: <strong>{{weather.day.mintemp_c}}°C</strong></p>
                          <div class="d-flex flex-row justify-content-center align-items-center">
                              <img src="{{ weather.day.condition.icon }}" alt="Weather Icon">
                              <p><strong>{{weather.day.condition.text}}</strong></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>